@use "../abstracts/index" as *;

.color-nav {

    align-items: center;
    border-bottom: 1px solid var(--color-text);
    display: flex;
    gap: to-rem(12);
    justify-content: center;
    margin-bottom: to-rem(24);
    margin-inline: auto;
    padding-bottom: to-rem(12);
    padding-inline: to-rem(24);
    width: fit-content;

    &__link {
        color: var(--color-text);

        &.router-link-exact-active {
            color: gold;
        }
    }

}