@use "../abstracts/" as *;

.color-list {
    &__colors {
        gap: to-rem(10);
        display: grid;
        grid-template-columns: repeat(3, max-content);
        
        @media (width >= to-rem(768)) {
            grid-template-columns: repeat(5, max-content);
        }

        @media (width >= to-rem(1024)) {
            grid-template-columns: repeat(7, max-content);
        }
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        small {
            flex: 0 0 100%;
            font-size: to-rem(10);
            text-align: center;
        }
    }

    &__color {
        @include colorBox;
        height: to-rem(25);
        width: to-rem(25);
    }
}