@use "../abstracts/" as *;

.color-theme {
    text-align: center;

    .theme-button {
        background-color: var(--color-text);
        border: none;
        border-radius: to-rem(25);
        box-shadow: inset 0 0 0 2px gold;
        color: var(--color-bg);
        display: inline-block;
        font-size: to-rem(16);
        height: to-rem(50);
        padding: to-rem(12);
        position: relative;
        transition: all .3s ease-in;
        width: to-rem(95);

        &::after {
            background-color: var(--color-bg);
            border-radius: 50%;
            content: "";
            display: block;
            height: to-rem(43);
            position: absolute;
            transform: translateY(-50%);
            transition: all .3s ease-in;
            top: 50%;
            width: to-rem(43);
        }
        
        &.theme-dark {
            text-align: end;
            &::after {
                left: 2px;
            }
        }
        
        &.theme-light {
            text-align: start;
            &::after {
                left: calc(100% - 45px);
            }
        }
    }
}