@use "../abstracts/" as *;

.color-mix {
    &__colors {
        column-gap: to-rem(20);
        display: grid;
        grid-template-columns: repeat(3, to-rem(70));
    }

    &__color {
        --color-first: $white;
        --color-second: $white;
        --number-first: 100%;
        --number-second: 0%;
        --color-mix: color-mix(in srgb, var(--color-first) var(--number-first), var(--color-second) var(--number-second));

        @include colorBox;
        background-color: var(--color-mix);
    }
}